<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="clr">
      <group name="ur_manipulator">
        <chain base_link="base_link" tip_link="tool0" />
      </group>
      <group name="rail">
        <chain base_link="vention_rail_base_link" tip_link="vention_rail_carriage" />
      </group>
      <group name="lift">
        <chain base_link="ewellix_lift_lower_link" tip_link="ewellix_lift_tip_link" />
      </group>
      <group name="clr">
        <chain base_link="vention_rail_base_link" tip_link="grasp_frame" />
      </group>
      <group name="lr">
        <group name="rail" />
        <group name="lift" />
      </group>
      <group name="chonkur_grasp">
        <chain base_link="base_link" tip_link="grasp_frame" />
      </group>
      <group name="chonkur_push1">
        <chain base_link="base_link" tip_link="push_frame_1" />
      </group>
      <group name="chonkur_push2">
        <chain base_link="base_link" tip_link="push_frame_2" />
      </group>
      <group name="chonkur_push_center">
        <chain base_link="base_link" tip_link="center_push_frame"/>
      </group>

      <!-- end effector - todo abstract out for other grippers -->
      <group name="hand">
        <link name="gripper_base_link"/>
        <link name="finger_1_link"/>
        <link name="finger_2_link"/>
        <link name="grasp_frame" />
        <joint name="finger_1_joint"/>
        <passive_joint name="finger_2_joint"/>
      </group>

      <!--GROUP STATES - Purpose - Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
      <group_state group="hand" name="open">
        <joint name="finger_1_joint" value="0.025"/>
        <joint name="finger_2_joint" value="0.025"/>
      </group_state>
      <group_state group="hand" name="close">
        <joint name="finger_1_joint" value="0"/>
        <joint name="finger_2_joint" value="0"/>
      </group_state>
      <group_state name="home" group="ur_manipulator">
        <joint name="elbow_joint" value="0" />
        <joint name="shoulder_lift_joint" value="-1.5707" />
        <joint name="shoulder_pan_joint" value="0" />
        <joint name="wrist_1_joint" value="0" />
        <joint name="wrist_2_joint" value="0" />
        <joint name="wrist_3_joint" value="0" />
      </group_state>
      <group_state name="up" group="ur_manipulator">
        <joint name="elbow_joint" value="0" />
        <joint name="shoulder_lift_joint" value="-1.5707" />
        <joint name="shoulder_pan_joint" value="0" />
        <joint name="wrist_1_joint" value="-1.5707" />
        <joint name="wrist_2_joint" value="0" />
        <joint name="wrist_3_joint" value="0" />
      </group_state>
      <group_state name="test_configuration" group="ur_manipulator">
        <joint name="elbow_joint" value="1.4" />
        <joint name="shoulder_lift_joint" value="-1.62" />
        <joint name="shoulder_pan_joint" value="1.54" />
        <joint name="wrist_1_joint" value="-1.2" />
        <joint name="wrist_2_joint" value="-1.6" />
        <joint name="wrist_3_joint" value="-0.11" />
      </group_state>
      <group_state name="stow" group="ur_manipulator">
        <joint name="elbow_joint" value="2.44346" />
        <joint name="shoulder_lift_joint" value="-2.6529" />
        <joint name="shoulder_pan_joint" value="-2.11185" />
        <joint name="wrist_1_joint" value="0.0" />
        <joint name="wrist_2_joint" value="1.0821" />
        <joint name="wrist_3_joint" value="3.26377" />
      </group_state>
      <group_state name="clr_home" group="clr">
        <joint name="ewellix_lift_lower_to_higher" value="0.004344256" />
        <joint name="vention_rail_base_to_carriage" value="0.0"/>
        <joint name="elbow_joint" value="-2.3058078289031982" />
        <joint name="shoulder_lift_joint" value="-0.7107666295817872" />
        <joint name="shoulder_pan_joint" value="3.052349805831909" />
        <joint name="wrist_1_joint" value="-3.2056271038451136" />
        <joint name="wrist_2_joint" value="-1.468212906514303" />
        <joint name="wrist_3_joint" value="0.03171319141983986" />
      </group_state>

      <group_state name="bag_pick_up" group="ur_manipulator">
        <joint name="elbow_joint" value="-2.089" />
        <joint name="shoulder_lift_joint" value="0.238" />
        <joint name="shoulder_pan_joint" value="1.189" />
        <joint name="wrist_1_joint" value="-0.985" />
        <joint name="wrist_2_joint" value="1.936" />
        <joint name="wrist_3_joint" value="3.14159" />
      </group_state>


      <end_effector group="hand" name="hand" parent_group="ur_manipulator" parent_link="tool0"/>
      <!--VIRTUAL JOINT - Purpose - this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
      <!--DISABLE COLLISIONS - By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->

      <disable_collisions link1="base_link_inertia" link2="clr_base" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="clr_carriage" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="ewellix_lift_higher_link" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="ewellix_lift_lower_link" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="ewellix_lift_middle_link" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="lower_lift_plate" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="right_angle_mount" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="shoulder_link" reason="Adjacent"/>
      <disable_collisions link1="base_link_inertia" link2="upper_arm_link" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="upper_lift_plate" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="ur10e_mount_plate" reason="Adjacent"/>
      <disable_collisions link1="base_link_inertia" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="base_link_inertia" link2="wrist_1_link" reason="Never"/>
      <disable_collisions link1="clr_base" link2="clr_carriage" reason="Never"/>
      <disable_collisions link1="clr_base" link2="ewellix_lift_higher_link" reason="Never"/>
      <disable_collisions link1="clr_base" link2="ewellix_lift_lower_link" reason="Never"/>
      <disable_collisions link1="clr_base" link2="ewellix_lift_middle_link" reason="Never"/>
      <disable_collisions link1="clr_base" link2="lower_lift_plate" reason="Never"/>
      <disable_collisions link1="clr_base" link2="right_angle_mount" reason="Never"/>
      <disable_collisions link1="clr_base" link2="shoulder_link" reason="Never"/>
      <disable_collisions link1="clr_base" link2="upper_lift_plate" reason="Never"/>
      <disable_collisions link1="clr_base" link2="ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="clr_base" link2="vention_rail_base_link" reason="Adjacent"/>
      <disable_collisions link1="clr_base" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="clr_base" link2="vention_rail_carriage" reason="Default"/>
      <disable_collisions link1="clr_base" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="clr_base" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="ewellix_lift_higher_link" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="ewellix_lift_lower_link" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="ewellix_lift_middle_link" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="lower_lift_plate" reason="Adjacent"/>
      <disable_collisions link1="clr_carriage" link2="right_angle_mount" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="shoulder_link" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="upper_lift_plate" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="vention_rail_carriage" reason="Adjacent"/>
      <disable_collisions link1="clr_carriage" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="ewellix_lift_lower_link" reason="Adjacent"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="ewellix_lift_middle_link" reason="Adjacent"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="lower_lift_plate" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="right_angle_mount" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="shoulder_link" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="upper_lift_plate" reason="Adjacent"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="ewellix_lift_higher_link" link2="lift_camera_mount" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="ewellix_lift_middle_link" reason="Default"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="lower_lift_plate" reason="Adjacent"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="lift_camera_mount" reason="Adjacent"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="right_angle_mount" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="shoulder_link" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="upper_lift_plate" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="ewellix_lift_lower_link" link2="lift_camera_mount" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="lower_lift_plate" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="right_angle_mount" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="shoulder_link" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="upper_lift_plate" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="ewellix_lift_middle_link" link2="lift_camera_mount" reason="Never"/>
      <disable_collisions link1="lift_camera_link" link2="lift_camera_mount" reason="Adjacent"/>
      <disable_collisions link1="finger_1_link" link2="finger_2_link" reason="Default"/>
      <disable_collisions link1="finger_1_link" link2="gripper_base_link" reason="Adjacent"/>
      <disable_collisions link1="finger_1_link" link2="mtc_effector_side" reason="Never"/>
      <disable_collisions link1="finger_1_link" link2="mtc_robot_side" reason="Never"/>
      <disable_collisions link1="finger_1_link" link2="robotiq_hande_cb_adapter" reason="Never"/>
      <disable_collisions link1="finger_1_link" link2="wrist_1_link" reason="Never"/>
      <disable_collisions link1="finger_1_link" link2="wrist_2_link" reason="Never"/>
      <disable_collisions link1="finger_1_link" link2="wrist_3_link" reason="Never"/>
      <disable_collisions link1="finger_1_link" link2="wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="finger_1_link" link2="ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="finger_2_link" link2="gripper_base_link" reason="Adjacent"/>
      <disable_collisions link1="finger_2_link" link2="mtc_effector_side" reason="Never"/>
      <disable_collisions link1="finger_2_link" link2="mtc_robot_side" reason="Never"/>
      <disable_collisions link1="finger_2_link" link2="robotiq_hande_cb_adapter" reason="Never"/>
      <disable_collisions link1="finger_2_link" link2="wrist_1_link" reason="Never"/>
      <disable_collisions link1="finger_2_link" link2="wrist_2_link" reason="Never"/>
      <disable_collisions link1="finger_2_link" link2="wrist_3_link" reason="Never"/>
      <disable_collisions link1="finger_2_link" link2="wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="finger_2_link" link2="ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="forearm_link" link2="upper_arm_link" reason="Adjacent"/>
      <disable_collisions link1="forearm_link" link2="wrist_1_link" reason="Adjacent"/>
      <disable_collisions link1="gripper_base_link" link2="mtc_effector_side" reason="Never"/>
      <disable_collisions link1="gripper_base_link" link2="mtc_robot_side" reason="Never"/>
      <disable_collisions link1="gripper_base_link" link2="robotiq_hande_cb_adapter" reason="Adjacent"/>
      <disable_collisions link1="gripper_base_link" link2="wrist_1_link" reason="Never"/>
      <disable_collisions link1="gripper_base_link" link2="wrist_2_link" reason="Never"/>
      <disable_collisions link1="gripper_base_link" link2="wrist_3_link" reason="Never"/>
      <disable_collisions link1="gripper_base_link" link2="wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="gripper_base_link" link2="ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="right_angle_mount" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="shoulder_link" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="upper_arm_link" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="upper_lift_plate" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="lower_lift_plate" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="mtc_effector_side" link2="mtc_robot_side" reason="Adjacent"/>
      <disable_collisions link1="mtc_effector_side" link2="robotiq_hande_cb_adapter" reason="Adjacent"/>
      <disable_collisions link1="mtc_effector_side" link2="wrist_1_link" reason="Never"/>
      <disable_collisions link1="mtc_effector_side" link2="wrist_2_link" reason="Never"/>
      <disable_collisions link1="mtc_effector_side" link2="wrist_3_link" reason="Never"/>
      <disable_collisions link1="mtc_effector_side" link2="wrist_mounted_camera_link" reason="Adjacent"/>
      <disable_collisions link1="mtc_effector_side" link2="ur_realsense_mount" reason="Adjacent"/>
      <disable_collisions link1="mtc_robot_side" link2="robotiq_hande_cb_adapter" reason="Never"/>
      <disable_collisions link1="mtc_robot_side" link2="wrist_1_link" reason="Never"/>
      <disable_collisions link1="mtc_robot_side" link2="wrist_2_link" reason="Never"/>
      <disable_collisions link1="mtc_robot_side" link2="wrist_3_link" reason="Adjacent"/>
      <disable_collisions link1="mtc_robot_side" link2="wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="mtc_robot_side" link2="ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="right_angle_mount" link2="shoulder_link" reason="Never"/>
      <disable_collisions link1="right_angle_mount" link2="upper_lift_plate" reason="Adjacent"/>
      <disable_collisions link1="right_angle_mount" link2="ur10e_mount_plate" reason="Adjacent"/>
      <disable_collisions link1="right_angle_mount" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="right_angle_mount" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="right_angle_mount" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="right_angle_mount" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="right_angle_mount" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="robotiq_hande_cb_adapter" link2="wrist_1_link" reason="Never"/>
      <disable_collisions link1="robotiq_hande_cb_adapter" link2="wrist_2_link" reason="Never"/>
      <disable_collisions link1="robotiq_hande_cb_adapter" link2="wrist_3_link" reason="Never"/>
      <disable_collisions link1="robotiq_hande_cb_adapter" link2="wrist_mounted_camera_link" reason="Adjacent"/>
      <disable_collisions link1="robotiq_hande_cb_adapter" link2="ur_realsense_mount" reason="Adjacent"/>
      <disable_collisions link1="shoulder_link" link2="upper_arm_link" reason="Adjacent"/>
      <disable_collisions link1="shoulder_link" link2="upper_lift_plate" reason="Never"/>
      <disable_collisions link1="shoulder_link" link2="ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="shoulder_link" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="shoulder_link" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="shoulder_link" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="shoulder_link" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="shoulder_link" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="shoulder_link" link2="wrist_1_link" reason="Never"/>
      <disable_collisions link1="upper_arm_link" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="upper_arm_link" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="upper_arm_link" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="upper_arm_link" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="upper_arm_link" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="upper_lift_plate" link2="ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="upper_lift_plate" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="upper_lift_plate" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="upper_lift_plate" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="upper_lift_plate" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="upper_lift_plate" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="ur10e_mount_plate" link2="vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="ur10e_mount_plate" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="ur10e_mount_plate" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="ur10e_mount_plate" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="ur10e_mount_plate" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="ur_realsense_mount" link2="wrist_mounted_camera_link" reason="Adjacent"/>
      <disable_collisions link1="vention_rail_base_link" link2="vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="vention_rail_base_link" link2="vention_rail_carriage" reason="Adjacent"/>
      <disable_collisions link1="vention_rail_base_link" link2="vention_rail_gearbox" reason="Adjacent"/>
      <disable_collisions link1="vention_rail_base_link" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="vention_rail_cable_collision" link2="vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="vention_rail_cable_collision" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="vention_rail_cable_collision" link2="vention_rail_motor" reason="Adjacent"/>
      <disable_collisions link1="vention_rail_carriage" link2="vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="vention_rail_carriage" link2="vention_rail_motor" reason="Never"/>
      <disable_collisions link1="vention_rail_gearbox" link2="vention_rail_motor" reason="Adjacent"/>
      <disable_collisions link1="wrist_1_link" link2="wrist_2_link" reason="Adjacent"/>
      <disable_collisions link1="wrist_1_link" link2="wrist_3_link" reason="Never"/>
      <disable_collisions link1="wrist_1_link" link2="wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="wrist_2_link" link2="wrist_3_link" reason="Adjacent"/>
      <disable_collisions link1="wrist_2_link" link2="wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="wrist_3_link" link2="wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="wrist_3_link" link2="ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="clr_carriage" link2="motor_side_estop_light" reason="Adjacent"/>
      <disable_collisions link1="clr_carriage" link2="end_estop_light" reason="Adjacent"/>
      <disable_collisions link1="clr_base" link2="motor_side_estop_light" reason="Adjacent"/>
      <disable_collisions link1="clr_base" link2="end_estop_light" reason="Adjacent"/>

  </xacro:macro>

</robot>
