<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="clr" params="tf_prefix:=''">
      <group name="ur_manipulator">
        <chain base_link="${tf_prefix}base_link" tip_link="${tf_prefix}tool0" />
      </group>
      <group name="rail">
        <chain base_link="${tf_prefix}vention_rail_base_link" tip_link="${tf_prefix}vention_rail_carriage" />
      </group>
      <group name="lift">
        <chain base_link="${tf_prefix}ewellix_lift_lower_link" tip_link="${tf_prefix}ewellix_lift_tip_link" />
      </group>``
      <group name="clr">
        <chain base_link="${tf_prefix}vention_rail_base_link" tip_link="${tf_prefix}grasp_frame" />
      </group>
      <group name="lr">
        <group name="rail" />
        <group name="lift" />
      </group>
      <group name="chonkur_grasp">
        <chain base_link="${tf_prefix}base_link" tip_link="${tf_prefix}grasp_frame" />
      </group>
      <group name="chonkur_push1">
        <chain base_link="${tf_prefix}base_link" tip_link="${tf_prefix}push_frame_1" />
      </group>
      <group name="chonkur_push2">
        <chain base_link="${tf_prefix}base_link" tip_link="${tf_prefix}push_frame_2" />
      </group>
      <group name="chonkur_push_center">
        <chain base_link="${tf_prefix}base_link" tip_link="${tf_prefix}center_push_frame"/>
      </group>

      <!-- end effector - todo abstract out for other grippers -->
      <group name="hand">
        <link name="${tf_prefix}gripper_base_link"/>
        <link name="${tf_prefix}finger_1_link"/>
        <link name="${tf_prefix}finger_2_link"/>
        <link name="${tf_prefix}grasp_frame" />
        <joint name="${tf_prefix}finger_1_joint"/>
        <passive_joint name="${tf_prefix}finger_2_joint"/>
      </group>

      <!--GROUP STATES - Purpose - Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
      <group_state group="hand" name="open">
        <joint name="${tf_prefix}finger_1_joint" value="0.025"/>
        <joint name="${tf_prefix}finger_2_joint" value="0.025"/>
      </group_state>
      <group_state group="hand" name="close">
        <joint name="${tf_prefix}finger_1_joint" value="0"/>
        <joint name="${tf_prefix}finger_2_joint" value="0"/>
      </group_state>
      <group_state name="home" group="ur_manipulator">
        <joint name="${tf_prefix}elbow_joint" value="0" />
        <joint name="${tf_prefix}shoulder_lift_joint" value="-1.5707" />
        <joint name="${tf_prefix}shoulder_pan_joint" value="0" />
        <joint name="${tf_prefix}wrist_1_joint" value="0" />
        <joint name="${tf_prefix}wrist_2_joint" value="0" />
        <joint name="${tf_prefix}wrist_3_joint" value="0" />
      </group_state>
      <group_state name="up" group="ur_manipulator">
        <joint name="${tf_prefix}elbow_joint" value="0" />
        <joint name="${tf_prefix}shoulder_lift_joint" value="-1.5707" />
        <joint name="${tf_prefix}shoulder_pan_joint" value="0" />
        <joint name="${tf_prefix}wrist_1_joint" value="-1.5707" />
        <joint name="${tf_prefix}wrist_2_joint" value="0" />
        <joint name="${tf_prefix}wrist_3_joint" value="0" />
      </group_state>
      <group_state name="test_configuration" group="ur_manipulator">
        <joint name="${tf_prefix}elbow_joint" value="1.4" />
        <joint name="${tf_prefix}shoulder_lift_joint" value="-1.62" />
        <joint name="${tf_prefix}shoulder_pan_joint" value="1.54" />
        <joint name="${tf_prefix}wrist_1_joint" value="-1.2" />
        <joint name="${tf_prefix}wrist_2_joint" value="-1.6" />
        <joint name="${tf_prefix}wrist_3_joint" value="-0.11" />
      </group_state>
      <group_state name="stow" group="ur_manipulator">
        <joint name="${tf_prefix}elbow_joint" value="2.44346" />
        <joint name="${tf_prefix}shoulder_lift_joint" value="-2.6529" />
        <joint name="${tf_prefix}shoulder_pan_joint" value="-2.11185" />
        <joint name="${tf_prefix}wrist_1_joint" value="0.0" />
        <joint name="${tf_prefix}wrist_2_joint" value="1.0821" />
        <joint name="${tf_prefix}wrist_3_joint" value="3.26377" />
      </group_state>
      <group_state name="clr_home" group="clr">
        <joint name="${tf_prefix}ewellix_lift_lower_to_higher" value="0.004344256" />
        <joint name="${tf_prefix}vention_rail_base_to_carriage" value="0.0"/>
        <joint name="${tf_prefix}elbow_joint" value="-2.3058078289031982" />
        <joint name="${tf_prefix}shoulder_lift_joint" value="-0.7107666295817872" />
        <joint name="${tf_prefix}shoulder_pan_joint" value="3.052349805831909" />
        <joint name="${tf_prefix}wrist_1_joint" value="-3.2056271038451136" />
        <joint name="${tf_prefix}wrist_2_joint" value="-1.468212906514303" />
        <joint name="${tf_prefix}wrist_3_joint" value="0.03171319141983986" />
      </group_state>

      <end_effector group="hand" name="hand" parent_group="ur_manipulator" parent_link="${tf_prefix}tool0"/>
      <!--VIRTUAL JOINT - Purpose - this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
      <!--DISABLE COLLISIONS - By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->

      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}clr_base" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}clr_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}ewellix_lift_higher_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}ewellix_lift_lower_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}ewellix_lift_middle_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}lower_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}right_angle_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}shoulder_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}upper_arm_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}upper_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}ur10e_mount_plate" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}base_link_inertia" link2="${tf_prefix}wrist_1_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}clr_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}ewellix_lift_higher_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}ewellix_lift_lower_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}ewellix_lift_middle_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}lower_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}right_angle_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}shoulder_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}upper_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}vention_rail_base_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}vention_rail_carriage" reason="Default"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}ewellix_lift_higher_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}ewellix_lift_lower_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}ewellix_lift_middle_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}lower_lift_plate" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}right_angle_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}shoulder_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}upper_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}vention_rail_carriage" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}ewellix_lift_lower_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}ewellix_lift_middle_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}lower_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}right_angle_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}shoulder_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}upper_lift_plate" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_higher_link" link2="${tf_prefix}lift_camera_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}ewellix_lift_middle_link" reason="Default"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}lower_lift_plate" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}lift_camera_mount" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}right_angle_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}shoulder_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}upper_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_lower_link" link2="${tf_prefix}lift_camera_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}lower_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}right_angle_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}shoulder_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}upper_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ewellix_lift_middle_link" link2="${tf_prefix}lift_camera_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lift_camera_link" link2="${tf_prefix}lift_camera_mount" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}finger_2_link" reason="Default"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}gripper_base_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}mtc_effector_side" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}mtc_robot_side" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}robotiq_hande_cb_adapter" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}wrist_1_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}wrist_2_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}wrist_3_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_1_link" link2="${tf_prefix}ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_2_link" link2="${tf_prefix}gripper_base_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}finger_2_link" link2="${tf_prefix}mtc_effector_side" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_2_link" link2="${tf_prefix}mtc_robot_side" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_2_link" link2="${tf_prefix}robotiq_hande_cb_adapter" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_2_link" link2="${tf_prefix}wrist_1_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_2_link" link2="${tf_prefix}wrist_2_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_2_link" link2="${tf_prefix}wrist_3_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_2_link" link2="${tf_prefix}wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}finger_2_link" link2="${tf_prefix}ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}forearm_link" link2="${tf_prefix}upper_arm_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}forearm_link" link2="${tf_prefix}wrist_1_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}gripper_base_link" link2="${tf_prefix}mtc_effector_side" reason="Never"/>
      <disable_collisions link1="${tf_prefix}gripper_base_link" link2="${tf_prefix}mtc_robot_side" reason="Never"/>
      <disable_collisions link1="${tf_prefix}gripper_base_link" link2="${tf_prefix}robotiq_hande_cb_adapter" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}gripper_base_link" link2="${tf_prefix}wrist_1_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}gripper_base_link" link2="${tf_prefix}wrist_2_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}gripper_base_link" link2="${tf_prefix}wrist_3_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}gripper_base_link" link2="${tf_prefix}wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}gripper_base_link" link2="${tf_prefix}ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}right_angle_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}shoulder_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}upper_arm_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}upper_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}lower_lift_plate" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}mtc_effector_side" link2="${tf_prefix}mtc_robot_side" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}mtc_effector_side" link2="${tf_prefix}robotiq_hande_cb_adapter" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}mtc_effector_side" link2="${tf_prefix}wrist_1_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}mtc_effector_side" link2="${tf_prefix}wrist_2_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}mtc_effector_side" link2="${tf_prefix}wrist_3_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}mtc_effector_side" link2="${tf_prefix}wrist_mounted_camera_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}mtc_effector_side" link2="${tf_prefix}ur_realsense_mount" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}mtc_robot_side" link2="${tf_prefix}robotiq_hande_cb_adapter" reason="Never"/>
      <disable_collisions link1="${tf_prefix}mtc_robot_side" link2="${tf_prefix}wrist_1_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}mtc_robot_side" link2="${tf_prefix}wrist_2_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}mtc_robot_side" link2="${tf_prefix}wrist_3_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}mtc_robot_side" link2="${tf_prefix}wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}mtc_robot_side" link2="${tf_prefix}ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}right_angle_mount" link2="${tf_prefix}shoulder_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}right_angle_mount" link2="${tf_prefix}upper_lift_plate" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}right_angle_mount" link2="${tf_prefix}ur10e_mount_plate" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}right_angle_mount" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}right_angle_mount" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}right_angle_mount" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}right_angle_mount" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}right_angle_mount" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}robotiq_hande_cb_adapter" link2="${tf_prefix}wrist_1_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}robotiq_hande_cb_adapter" link2="${tf_prefix}wrist_2_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}robotiq_hande_cb_adapter" link2="${tf_prefix}wrist_3_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}robotiq_hande_cb_adapter" link2="${tf_prefix}wrist_mounted_camera_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}robotiq_hande_cb_adapter" link2="${tf_prefix}ur_realsense_mount" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}shoulder_link" link2="${tf_prefix}upper_arm_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}shoulder_link" link2="${tf_prefix}upper_lift_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}shoulder_link" link2="${tf_prefix}ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}shoulder_link" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}shoulder_link" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}shoulder_link" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}shoulder_link" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}shoulder_link" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}shoulder_link" link2="${tf_prefix}wrist_1_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_arm_link" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_arm_link" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_arm_link" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_arm_link" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_arm_link" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_lift_plate" link2="${tf_prefix}ur10e_mount_plate" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_lift_plate" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_lift_plate" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_lift_plate" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_lift_plate" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}upper_lift_plate" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ur10e_mount_plate" link2="${tf_prefix}vention_rail_base_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ur10e_mount_plate" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ur10e_mount_plate" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ur10e_mount_plate" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ur10e_mount_plate" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}ur_realsense_mount" link2="${tf_prefix}wrist_mounted_camera_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}vention_rail_base_link" link2="${tf_prefix}vention_rail_cable_collision" reason="Never"/>
      <disable_collisions link1="${tf_prefix}vention_rail_base_link" link2="${tf_prefix}vention_rail_carriage" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}vention_rail_base_link" link2="${tf_prefix}vention_rail_gearbox" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}vention_rail_base_link" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}vention_rail_cable_collision" link2="${tf_prefix}vention_rail_carriage" reason="Never"/>
      <disable_collisions link1="${tf_prefix}vention_rail_cable_collision" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}vention_rail_cable_collision" link2="${tf_prefix}vention_rail_motor" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}vention_rail_carriage" link2="${tf_prefix}vention_rail_gearbox" reason="Never"/>
      <disable_collisions link1="${tf_prefix}vention_rail_carriage" link2="${tf_prefix}vention_rail_motor" reason="Never"/>
      <disable_collisions link1="${tf_prefix}vention_rail_gearbox" link2="${tf_prefix}vention_rail_motor" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}wrist_1_link" link2="${tf_prefix}wrist_2_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}wrist_1_link" link2="${tf_prefix}wrist_3_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}wrist_1_link" link2="${tf_prefix}wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}wrist_2_link" link2="${tf_prefix}wrist_3_link" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}wrist_2_link" link2="${tf_prefix}wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}wrist_3_link" link2="${tf_prefix}wrist_mounted_camera_link" reason="Never"/>
      <disable_collisions link1="${tf_prefix}wrist_3_link" link2="${tf_prefix}ur_realsense_mount" reason="Never"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}motor_side_estop_light" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}clr_carriage" link2="${tf_prefix}end_estop_light" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}motor_side_estop_light" reason="Adjacent"/>
      <disable_collisions link1="${tf_prefix}clr_base" link2="${tf_prefix}end_estop_light" reason="Adjacent"/>

  </xacro:macro>

</robot>
