<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="endeff_stack" params="
        tf_prefix
        parent
        *origin
        use_camera_mesh:=true
    ">

    <joint name="${tf_prefix}endeff_stack_base_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="${tf_prefix}mtc_robot_side"/>
        <xacro:insert_block name="origin"/>
    </joint>

    <link name="${tf_prefix}mtc_robot_side">
        <visual>
            <geometry>
                <mesh filename= "package://chonkur_description/meshes/visual/mtc_robot_side.dae"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.0184" radius="0.0525" />
            </geometry>
            <origin xyz="0 0 0.0092" rpy="0 0 0" />
        </collision>
    </link>

    <joint name="${tf_prefix}mtc_robot_to_effector_side_joint" type="fixed">
        <parent link="${tf_prefix}mtc_robot_side"/>
        <child link="${tf_prefix}mtc_effector_side"/>
        <origin xyz="0 0 0.008763" rpy="0 0 0"/>
    </joint>

    <link name="${tf_prefix}mtc_effector_side">
        <visual>
            <geometry>
                <mesh filename= "package://chonkur_description/meshes/visual/mtc_effector_side.dae"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.0237" radius="0.0525" />
            </geometry>
            <origin xyz="0 0 0.01185" rpy="0 0 0" />
        </collision>
    </link>

    <joint name="${tf_prefix}mtc_effector_side_to_realsense_mount" type="fixed">
        <parent link="${tf_prefix}mtc_effector_side"/>
        <child link="${tf_prefix}ur_realsense_mount"/>
        <origin xyz="0 0 0.023684" rpy="0 0 ${radians(180)}"/>
    </joint>

    <link name="${tf_prefix}ur_realsense_mount">
        <visual>
            <geometry>
                <mesh filename= "package://chonkur_description/meshes/visual/ur_realsense_short_mount_tube.stl"/>
            </geometry>
            <material name="${tf_prefix}ur_realsense_mount">
                <color rgba="0.1 0.1 0.1 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename= "package://chonkur_description/meshes/visual/ur_realsense_short_mount_tube.stl"/>
            </geometry>
        </collision>
    </link>

    <!-- Realsense camera -->
    <xacro:property name="realsense_materials_defined" value="true" />
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>
    <xacro:sensor_d435 parent="${tf_prefix}ur_realsense_mount" use_nominal_extrinsics="true" use_mesh="${use_camera_mesh}" name="${tf_prefix}wrist_mounted_camera">
        <origin xyz="-0.064 -0.003 0.016" rpy="0.136 -1.429 -0.128"/>
    </xacro:sensor_d435>

    </xacro:macro>
</robot>
