<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="clr">

  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="headless_mode" default="false" />
  <xacro:arg name="finger_xacro" default="fngr_v6" />
  <xacro:arg name="generate_ros2_control_tag" default="true" />

  <xacro:include filename="$(find ewellix_liftkit_description)/urdf/properties.xacro"/>
  <xacro:include filename="$(find clr_description)/urdf/clr_macro.xacro"/>

  <link name="world" />

  <xacro:clr
    tf_prefix="$(arg tf_prefix)"
    use_fake_hardware="$(arg use_fake_hardware)"
    headless_mode="$(arg headless_mode)"
    finger_xacro="$(arg finger_xacro)"
    generate_ros2_control_tag="$(arg generate_ros2_control_tag)"
  />

</robot>
