<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="clr" params="
    tf_prefix
    use_fake_hardware:=false
    headless_mode:=false
    ros2_control_name:=clr
    parent:=world
    sim_gazebo:=false
    sim_ignition:=false
    chonkur_ip:=192.168.1.102
    com_port_hande:=/tmp/ttyUR
    finger_xacro:=fngr_v6
    add_grasp_push_frames:=true
    marker_opacity:=0.5
    rail_ip:=192.168.7.2
    rail_port:=9999
    rail_position_limit:=2.0
    rail_velocity_limit:=0.15
    safety_com_port:=/dev/ttyACM0
    ewellix_com_port:=/dev/ttyUSB0
    ewellix_height_limit:=0.7
    ewellix_omit_plates:=true
    use_camera_mesh:=true
    generate_ros2_control_tag:=true
  ">

    <!-- CLR BASE JOINT -->
    <joint name="${tf_prefix}clr_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${tf_prefix}clr_base"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- CLR BASE -->
    <link name="${tf_prefix}clr_base">
      <visual>
        <geometry>
          <mesh filename="package://clr_description/meshes/visual/clr_base.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.15" rpy="0 0 0"/>
        <geometry>
          <box size="2.43 0.81 0.30"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0 0.315007 0.354694" rpy="0 0 0"/>
        <geometry>
          <box size="2.11500 0.179992 0.109387"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0 -0.314989 0.592500" rpy="0 0 0"/>
        <geometry>
          <box size="1.88999 0.179978 0.585000"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.440106 0.495008 0.150000" rpy="0 0 0"/>
        <geometry>
          <box size="0.0899922 0.180010 0.300000"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.446456 0.495008 0.150000" rpy="0 0 0"/>
        <geometry>
          <box size="0.0899922 0.180010 0.300000"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0 -0.504978 0.442500" rpy="0 0 0"/>
        <geometry>
          <box size="1.88999 0.200000 0.885000"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-1.17000 0 0.310844" rpy="0 0 0"/>
        <geometry>
          <box size="0.0899922 0.0899922 0.0216890"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="1.17000 0 0.310844" rpy="0 0 0"/>
        <geometry>
          <box size="0.0899922 0.0899922 0.0216890"/>
        </geometry>
      </collision>
    </link>

    <!-- RAIL -->
    <xacro:include filename="$(find vention_rail_description)/urdf/vention_macro.urdf.xacro"/>
    <xacro:vention_rail
      name="${ros2_control_name}_rail"
      tf_prefix="${tf_prefix}"
      parent="${tf_prefix}clr_base"
      use_fake_hardware="${use_fake_hardware}"
      ip_addr="${rail_ip}"
      port="${rail_port}"
      position_limit="${rail_position_limit}"
      velocity_limit="${rail_velocity_limit}"
      safety_com_port="${safety_com_port}"
      generate_ros2_control_tag="${generate_ros2_control_tag}"
    >
      <origin xyz="0.0874537 0.114017 0.300000"/>
    </xacro:vention_rail>

    <!-- CLR_CARRIAGE -->
    <xacro:include filename="$(find clr_description)/urdf/clr_carriage.macro.xacro"/>
    <xacro:clr_carriage
      tf_prefix="${tf_prefix}"
      parent="${tf_prefix}vention_rail_carriage"
    >
      <origin xyz="-0.003624 -0.0900 0.0185"/>
    </xacro:clr_carriage>

    <!-- SAFETY_LIGHTS -->
    <material name="${tf_prefix}safety_light_blue">
      <color rgba="0 0 0.5 0.8"/>
    </material>
    <link name="${tf_prefix}motor_side_estop_light">
      <visual>
        <geometry>
          <box size="0.05 0.05 0.381"/>
        </geometry>
        <material name="${tf_prefix}safety_light_blue" />
      </visual>
      <collision>
        <geometry>
          <box size="0.05 0.05 0.381"/>
        </geometry>
      </collision>
    </link>
    <joint name="${tf_prefix}motor_side_estop_light_joint" type="fixed">
      <parent link="${tf_prefix}clr_base"/>
      <child link="${tf_prefix}motor_side_estop_light"/>
      <origin xyz="-0.925 -0.272 0.914" rpy="0 0 0"/>
    </joint>
    <link name="${tf_prefix}end_estop_light">
      <visual>
        <geometry>
          <box size="0.05 0.05 0.381"/>
        </geometry>
        <material name="${tf_prefix}safety_light_blue" />
      </visual>
      <collision>
        <geometry>
          <box size="0.05 0.05 0.381"/>
        </geometry>
      </collision>
    </link>
    <joint name="${tf_prefix}end_estop_light_joint" type="fixed">
      <parent link="${tf_prefix}clr_base"/>
      <child link="${tf_prefix}end_estop_light"/>
      <origin xyz="0.929 -0.272 0.714" rpy="0 0 0"/>
    </joint>

    <!-- LOWER_LIFT_PLATE -->
    <xacro:include filename="$(find clr_description)/urdf/plates.macro.xacro"/>
    <xacro:lower_lift_plate
      tf_prefix="${tf_prefix}"
      parent="${tf_prefix}clr_carriage"
    >
      <origin xyz="0 0 0.054525" rpy="0 0 0"/>
    </xacro:lower_lift_plate>

    <!-- LIFT -->
    <xacro:include filename="$(find ewellix_liftkit_description)/urdf/ewellix_lift.xacro"/>
    <xacro:ewellix_lift
      name="${ros2_control_name}_liftkit"
      tf_prefix="${tf_prefix}"
      parent="${tf_prefix}lower_lift_plate"
      height_limit="${ewellix_height_limit}"
      omit_plates="${ewellix_omit_plates}"
      use_fake_hardware="${use_fake_hardware}"
      com_port="${ewellix_com_port}"
      is_700="true"
      is_500="false"
      generate_ros2_control_tag="${generate_ros2_control_tag}"
    >
      <origin xyz="0 0 0.295" rpy="0 0 0"/>
    </xacro:ewellix_lift>

    <!-- LIFT CAMERA + MOUNT -->
    <xacro:include filename="$(find clr_description)/urdf/lift_camera.macro.xacro"/>
    <xacro:lift_camera
      tf_prefix="${tf_prefix}"
      parent="${tf_prefix}ewellix_lift_lower_link"
      use_camera_mesh="${use_camera_mesh}"
    >
      <origin xyz="-0.0772 0.095 0.2635" rpy="0 0 0"/>
    </xacro:lift_camera>

    <!-- UPPER_LIFT_PLATE -->
    <xacro:upper_lift_plate
      tf_prefix="${tf_prefix}"
      parent="${tf_prefix}ewellix_lift_higher_link"
    >
      <origin xyz="0 0 0.253525" rpy="0 0 0"/>
    </xacro:upper_lift_plate>

    <!-- RIGHT_ANGLE_MOUNT -->
    <xacro:include filename="$(find clr_description)/urdf/right_angle_mount.macro.xacro"/>
    <xacro:right_angle_mount tf_prefix="${tf_prefix}"/>

    <!-- UPPER_LIFT_PLATE_TO_RIGHT_ANGLE_MOUNT -->
    <joint name="${tf_prefix}upper_lift_plate_to_right_angle_mount" type="fixed">
      <parent link="${tf_prefix}upper_lift_plate"/>
      <child link="${tf_prefix}right_angle_mount"/>
      <origin xyz="0 0 0.009525" rpy="0 0 0"/>
    </joint>

    <!-- UR10E_MOUNT_PLATE -->
    <xacro:ur10e_mount_plate
      tf_prefix="${tf_prefix}"
      parent="${tf_prefix}right_angle_mount"
    >
      <origin xyz="0 0.112509 0.112509" rpy="0 0 0"/>
    </xacro:ur10e_mount_plate>

    <link name="${tf_prefix}ur10e_mount_link"/>

    <joint name="${tf_prefix}chonkur_mount_joint" type="fixed">
      <parent link="${tf_prefix}ur10e_mount_plate"/>
      <child link="${tf_prefix}ur10e_mount_link"/>
      <origin xyz="0 0.0225 0" rpy="${radians(-90)} ${radians(180)} 0"/>
    </joint>

    <!-- chonkur -->
    <xacro:include filename="$(find chonkur_description)/urdf/chonkur_macro.xacro"/>
    <xacro:chonkur
      tf_prefix="${tf_prefix}"
      use_fake_hardware="${use_fake_hardware}"
      headless_mode="${headless_mode}"
      ros2_control_name="${ros2_control_name}_ur"
      parent="${tf_prefix}ur10e_mount_link"
      sim_gazebo="false"
      sim_ignition="false"
      chonkur_ip="${chonkur_ip}"
      com_port_hande="${com_port_hande}"
      finger_xacro="${finger_xacro}"
      add_grasp_push_frames="${add_grasp_push_frames}"
      marker_opacity="${marker_opacity}"
      use_camera_mesh="${use_camera_mesh}"
      generate_ros2_control_tag="${generate_ros2_control_tag}"/>

  </xacro:macro>

</robot>
